<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= review.title %> Review</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

      * {
        font-family: "Inter", sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scroll-padding-top: 2rem;
        box-sizing: border-box;
      }

      .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
      }

      .post-date {
        display: flex;
        font-size: 0.8rem;
        margin-top: 4px;
        margin-bottom: 4px;
      }

      .post-description {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 5px 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        overflow: hidden;
      }

      .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1068px;
        margin: auto;
        width: 100%;
      }

      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
      }

      a {
        text-decoration: none;
      }

      li {
        list-style: none;
      }

      img {
        width: 100%;
      }

      section {
        padding: 3rem 0 2rem;
      }

      .logo {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .home {
        width: 100%;
        background-image: linear-gradient(to bottom right, #f9fafb, #7f56d9);
        min-height: 440px;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .home-text {
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.4px);
        -webkit-backdrop-filter: blur(8.4px);
        border: 1px solid rgba(255, 255, 255, 0.01);

        color: black;
        text-align: center;
      }

      .home-title {
        mix-blend-mode: difference;
        color: black;

        font-size: 3rem;
        font-weight: 600;
      }

      .home-subtitle {
        font-size: 1rem;
        font-weight: 600;
        color: black;
      }

      .post-filter {
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 1.5rem;
        margin-top: 2rem !important;
      }

      .filter-item {
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
      }

      .post {
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        justify-content: center;
        gap: 1.5rem;
      }

      .post-title {
        margin-bottom: 4px;
        font-size: 1.3rem;
        font-weight: 600;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .profile-img {
        width: 35px;
        height: 35px;
      }

      .post-box {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.39);
        border-radius: 16px;
        box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.8px);
        -webkit-backdrop-filter: blur(1.8px);
        transition: background-color 0.3s ease;
        padding: 10px 10px 10px 10px;
      }

      .post-box:hover {
        background-color: #eaecf0;
        box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.5);
      }

      .parallax-home {
        /* background-image: url('https://picsum.photos/3840/2400'); */
        /* Replace with the path to your background image */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
      }

      .post-img {
        width: 100%;
        border-radius: 8px;
        height: 300px;
      }

      .category {
        margin-bottom: 3px;
        font-size: 1.3rem;
        color: #7f56d9;
      }

      .post-title {
        font-size: 1.3rem;
        font-weight: 600;
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .post-header {
        width: 100%;
        height: 500px;
      }

      .post-container {
        padding: 30px;
        max-width: 800px;
        margin: auto;
        width: 100%;
      }

      .header-container {
        display: flex;

        flex-direction: column;
        align-items: center;
        margin-top: 4rem !important;
      }

      .back-home {
        font-size: 0.9rem;
      }

      .header-title {
        width: 90%;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      .post-content {
        margin-top: 2rem !important;
      }

      .sub-heading {
        font-size: 1.2rem;
      }

      .post-text {
        font-size: 1rem;
        text-align: justify;
        line-height: 2rem;
        font-weight: 500;
      }

      .sidebar {
        position: fixed;
        top: 60%; /* Adjust the top position as needed */
        left: 8%;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.3); /* Transparent background */
        padding: 20px;
        transform: translateY(-50%); /* Center the sidebar vertically */
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }
      .sidebar:hover {
        padding-left: 30px;
      }
      .sidebar a:hover {
        transition: all 0.3s ease;
        padding: 10px;
      }

      .social-links h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      .social-links ul {
        list-style: none;
        padding: 0;
      }

      .social-links li {
        margin-bottom: 10px;
      }

      .social-links a {
        text-decoration: none;
        color: #7f56d9; /* Color for the social media links */
        font-weight: bold;
        font-size: 1rem;
      }

      @media (max-width: 1060px) {
        .container {
          margin: 0, auto;
          width: 95;
        }

        .home-text {
          width: 100%;
        }
      }
      @media (max-width: 1180px) {
        .sidebar {
          display: none;
        }
      }

      /*footer*/
      .container {
        border-radius: 8px;
      }
      .footer {
        background-image: url("<%= review.imageurl %>"); /* Replace with the path to your footer background image */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Adjust the height as needed */
        display: flex;

        color: black; /* Adjust the text color as needed */

        background-color: #7f56d9;
        padding: 40px;
      }
      .row {
        padding: 10px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 8px;
        display: flex;
        flex-wrap: wrap;
      }
      .footer-col {
        width: 25%;
        padding: 0 15px;
      }
      .footer-col h4 {
        font-size: 0.9rem;
        text-transform: capitalize;
        margin-bottom: 20px;
        position: relative;
      }
      .footer-col h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: black;
        height: 2px;
        box-sizing: border-box;
        width: 50%;
      }
      .footer a {
        color: black;
        font-weight: bold;
      }
      .footer-col ul li a {
        font-size: 1rem;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
      }
      .publisher {
        display: flex;
        font-weight: bolder;
        align-content: center;
        margin-top: 1rem;
      }
      .footer-col ul li a:hover {
        color: black;
        padding: 5px;
      }
      @media (max-width: 767px) {
        .footer-col {
          width: 50%;
          padding: 0 15px;
        }
      }

      @media (max-width: 450px) {
        .footer-col {
          width: 100%;
          padding: 0 10px;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <div class="nav container">
        <a href="#" class="logo">L<span>lGO</span></a>
      </div>
    </header>
    <section
      class="home parallax-home"
      id="home"
      style="background-image: url('<%= review.imageurl %>')"
    >
      <div class="home-text container">
        <h2 class="home-title"><%= review.title %></h2>

        <span class="home-subtitle">Which one do you wanna read?</span>
      </div>
    </section>

    <section class="post-content post-container">
      <h2 class="sub-heading">create something cool</h2>
      <p class="post-text"><%= review.content %></p>
    </section>
  </body>

  <aside class="sidebar">
    <div class="social-links">
      <h3>Follow Me</h3>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/aniruddh-tiwari-7ab938134/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/aniruddh_.tiwari/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://instagram.com/your_instagram_link" target="_blank"
            >Instagram</a
          >
        </li>
        <!-- Add more social links as needed -->
      </ul>
    </div>
  </aside>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Navigation</h4>
          <ul>
            <li><a href="/testdashboard">Back to All Reviews</a></li>

            <li><a href="/review/<%=review._id%>"><%=review.title%></a></li>
            <li><a href="/review/<%=review._id%>"><%=review.title%></a></li>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>somewhere else</h4>
          <ul>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
            <li><a href="#">click</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>hello</h4>
          <ul>
            <li><a href="#">click</a></li>
          </ul>
        </div>
        <div class="publisher">
          <p>Developed and Designed by Aniruddh Tiwari.</p>
        </div>
      </div>
    </div>
  </footer>
</html>
